div, h2, h3, h6, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flight_booking_form{
    background-image: url('../../public/images/Fligths_bg_image.png');
}
.form_submit_button, .form_reset_button{
    border-radius: 30px;
}
.clear {
  clear: both;
}

.booking-form-layouts {
  box-sizing: border-box;
  padding: 3em;
  background: rgb(12 19 75 / 96%);
  width: 65%;
  margin: 0 auto;
}

h2.sub-heading-agileits,
h3.sub-heading-agileits {
  display: inline-block;
  text-align: left;
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0.4em;
  padding: 0px 25px 10px 0px;
  font-weight: 400;
  letter-spacing: 2px;
  border-bottom: 2px solid #0091cd;
  font-family: 'Raleway', sans-serif;
}
.radio-buttons-lg-agileits label{
    cursor: pointer;
}

.radio-section {
  text-align: left;
  margin: 0.7em 0;
}

.radio-section h6 {
  display: inline;
  margin-top: 10px;
  color: #0091cd;
  font-size: 19px;
  text-transform: capitalize;
  margin-bottom: 0.7em;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
}

.radio-section ul {
  display: inline;
}

.radio-buttons-lg-agileits li input[type="radio"] {
  cursor: pointer;
}

.radio-buttons-lg-agileits li label {
  color: #fff;
  font-size: 13.5px;
  font-size: 16px;
  padding-left: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

.booking-form-layouts input[type="text"],
.booking-form-layouts input[type="email"],
.booking-form-layouts textarea,
select.form-control,
input#datepicker {
  width: 100%;
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.2px;
  padding: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.booking-form-layouts textarea {
  resize: none;
  height: 80px;
}

.field-agileinfo-spc {
  margin-bottom: 1em;
}

.form-lg-agile-text {
  width: 100%;
}

select.form-control option {
  background: #000;
}

.booking-form-layouts input[type="submit"],
.booking-form-layouts input[type="reset"] {
  text-transform: capitalize;
  background: #d2741c;
  color: #fff;
  padding: 0.5em 4em;
  border: none;
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 1em;
  float: left;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.5s all;
}
.booking-form-layouts input[type="submit"] {
  margin-right: 1.5em;
  background: #0091cd;
}

.booking-form-layouts input[type="submit"]:hover {
  background: #0091cd;
  color: #fff;
}

.booking-form-layouts input[type="reset"]:hover {
  background: #d2741c;
  color: #fff;
}

.booking-form-layouts ::-webkit-input-placeholder {
  color: #fff;
}

.booking-form-layouts :-moz-placeholder {
  color: #fff;
}

.booking-form-layouts ::-moz-placeholder {
  color: #fff;
}

.booking-form-layouts :-ms-input-placeholder {
  color: #fff;
}

.booking-form-layouts label {
  font-size: 13.5px;
  color: rgba(255, 255, 255, 0.83);
  letter-spacing: 2px;
  font-weight: 400;
  position: relative;
  margin-bottom: 5px;
  display: inline-block;
  text-transform: capitalize;
}

ul.radio-buttons-lg-agileits li {
  display: inline-block;
  margin: 0em 2em;
}

@media (max-width: 1440px) {
  .booking-form-layouts {
    width: 73%;
  }
}

@media (max-width: 1366px) {
  .booking-form-layouts {
    width: 75%;
  }
}

@media (max-width: 1280px) {
  .booking-form-layouts {
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .booking-form-layouts {
    width: 83%;
    padding: 2em 2.2em;
  }
}

@media (max-width: 1024px) {
  h2.sub-heading-agileits,
  h3.sub-heading-agileits {
    font-size: 22px;
    padding: 0px 20px 7px 0px;
  }
  .field-agileinfo-spc {
    margin-bottom: 0.8em;
  }
  .booking-form-layouts input[type="submit"],
  .booking-form-layouts input[type="reset"] {
    padding: 0.5em 3em;
    font-size: 1.1em;
  }
}

@media (max-width: 768px) {
  h2.sub-heading-agileits,
  h3.sub-heading-agileits {
    font-size: 21px;
    padding: 0px 15px 7px 0px;
  }
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    border-bottom: 0.1px solid white;
  }
  form{
    text-align: center;
  }
  .booking-form-layouts{
    width: 100%;
  }
  .radio-section h6 {
    font-size: 17px;
    letter-spacing: 1.5px;
  }
  ul.radio-buttons-lg-agileits li {
    margin: 0em 1em;
  }
}

@media (max-width: 667px) {
  h2.sub-heading-agileits,
  h3.sub-heading-agileits {
    font-size: 19px;
    letter-spacing: 1.5px;
  }
  .booking-form-layouts {
    width: 100%;
    padding: 2em 2em;
  }
  .booking-form-layouts input[type="text"],
  .booking-form-layouts input[type="email"],
  .booking-form-layouts textarea,
  select.form-control,
  input#datepicker {
    padding: 8px 10px;
  }
  .field-agileinfo-spc {
    margin-bottom: 0.9em;
  }
  h2.sub-heading-agileits,
  h3.sub-heading-agileits {
    margin-bottom: 0.6em;
  }
}

@media (max-width: 640px) {
  .booking-form-layouts input[type="submit"] {
    margin-right: 0.7em;
  }
  .booking-form-layouts{
    width: 100%;
  }
}

@media (max-width: 600px) {
  .booking-form-layouts {
    width: 100%;
  }
  .booking-form-layouts input[type="submit"],
  .booking-form-layouts input[type="reset"] {
    padding: 0.5em 2em;
  }
}

@media (min-width: 481px) {
  .main-flex-lgls-sectns {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .form-lg-agile-text1,
  .form-lg-agile-text2 {
    flex-basis: 48.5%;
    -webkit-flex-basis: 48.5%;
    border-bottom: 0.1px solid gray !important;
  }
}

@media (min-width: 737px) {
  .triple-wthree {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .form-lg-agile-text11,
  .form-lg-agile-text22,
  .form-lg-agile-text33 {
    flex-basis: 32%;
    -webkit-flex-basis: 32%;
  }
}

@media (max-width: 480px) {
  ul.radio-buttons-lg-agileits li {
    margin: 0em 0.5em;
  }
  .radio-section {
    margin: 1.3em 0 .7em;
  }
  .booking-form-layouts {
    width: 100%;
  }
  ul.radio-buttons-lg-agileits li {
    margin: 1em 0em 0em 0.2em;
    display: block;
  }
  .booking-form-layouts input[type="submit"],
  .booking-form-layouts input[type="reset"] {
    font-size: 1em;
  }
  .booking-form-layouts textarea {
    height: 60px;
  }
  .radio-section {
    margin: 1em 0 .7em;
  }
}

@media (max-width: 414px) {
  .booking-form-layouts {
    width: 100%;
    padding: 1.5em 1.7em;
  }
}

@media (max-width: 384px) {
  .booking-form-layouts input[type="submit"],
  .booking-form-layouts input[type="reset"] {
    float: none;
  }
  .booking-form-layouts input[type="submit"] {
    margin-right: 0em;
  }
}

@media (max-width: 320px) {
  .booking-form-layouts {
    width: 100%;
    padding: 1.3em 1.5em;
  }
  h2.sub-heading-agileits,
  h3.sub-heading-agileits {
    font-size: 18px;
    letter-spacing: 1.4px;
    padding: 0px 12px 5px 0px;
  }
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root, .css-1bn53lx{
    padding: 0.5rem 0.5rem 0.5rem 13rem;
}
.css-1x5jdmq, .MuiOutlinedInput-root input{
  padding: 0.5rem 0.5rem 2rem 0 !important;
}
.main-flex-lgls-sectns{
  text-align: left;
}
.MuiInputBase-input{
    border: none !important;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
    color: white !important;
}
.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item{
    color: #000 !important;
}
.css-1g7nc1s-MuiPickersLayout-root .MuiPickersLayout-actionBar{
    background-color: #f1f8ee;
}
.css-vubbuv{
  color: white;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    color: black !important;
    font-weight: bold;
}

/* Flight List Styles */
.full_table_data{
  width: 100%;
  overflow-x: scroll;
}
.full_table_data tr th{
  font-weight: bold;
  font-size: 16px;
  background-color: #0A8DD0;
  color: white !important;
}
.full_table_data tr th, .full_table_data tr td{
  min-width: 250px;
  border: 1px solid gray;
  color: black;
}
.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-row:nth-child(even){
  background-color: #eceef1;
}
.search_bar input{
  border: 1px solid gray;
}
.MuiBox-root a {
  padding: 0 8rem;
}
.css-n70jm4-MuiInputBase-root-MuiInput-root-MuiSelect-root, .css-1eed5fa-MuiInputBase-root-MuiInput-root{
  padding: 0 !important;
}
.MuiDataGrid-columnHeader--sortable, .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell {
  border: 0.1px solid gray;
  width: 250px !important;
  max-width: 250px !important;
  justify-content: center;
}
.css-aop0yh .MuiDataGrid-withBorderColor {
  border-color: gray;
  border: 0.1px solid gray;
}
.css-aop0yh .MuiDataGrid-columnHeaderTitleContainer{
  justify-content: center;
  padding-left: 2rem;
}
.MuiDataGrid-toolbarContainer.css-1yqais2 {
  display: grid !important;
  grid-template: auto / auto auto;
  padding-top: 1rem !important;
}
.MuiDataGrid-toolbarContainer.css-1yqais2 button:nth-child(1), .MuiDataGrid-toolbarContainer.css-1yqais2 button:nth-child(3){
  display: none;
}
@media (max-width: 600px) {
  fieldset{
    border: 1px solid gray !important;
  }
  .css-emku8u, .css-1sjjn1c-MuiDataGrid-panelContent{
    max-width: 385px;
  }
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root, .css-p0rm37{
  padding-bottom: 12px !important;
}
.MuiDataGrid-withBorderColor {
  border-color: gray !important;
  border-top: 1px solid gray;
}
.css-128fb87-MuiDataGrid-toolbarContainer{
  display: grid !important;
  grid-template: auto / auto auto;
  padding-top: 1rem !important;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root:nth-child(1), .css-1knaqv7-MuiButtonBase-root-MuiButton-root:nth-child(3){
  display: none;
}
.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer{
  justify-content: center;
}
.MuiDataGrid-columnHeader--sortable {
  background-color: #0A8DD0;
  color: white !important;
}
.css-aop0yh .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight) > .MuiDataGrid-cell {
  max-width: 250px !important;
  width: 250px !important;
  border: 0.1px solid gray;
  justify-content: center;
}
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root{
  color: white !important;
  display: block !important;
}
.MuiDataGrid-columnSeparator{
  display: none !important;
}
.MuiDataGrid-menuIcon, .MuiDataGrid-iconButtonContainer{
  visibility: visible !important;
  width: auto !important;
}
.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-columnHeaderDraggableContainer{
  padding-left: 45px;
}
.MuiDataGrid-sortIcon{
  opacity: 0.8 !important;
}